*.class

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
/target/
/.settings
