<!--
  logback.xml
  
  Copyright (c) 2012 SeedBoxer Team.
  
  This file is part of SeedBoxer.
  
  SeedBoxer is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  SeedBoxer is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with SeedBoxer.  If not, see <http ://www.gnu.org/licenses/>.
-->
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %logger{0}\(%line\): %msg %mdc%n</Pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/seedboxer/seedboxer.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/seedboxer/seedboxer.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %logger{0}\(%line\): %msg %mdc%n</pattern>
		</encoder>
	</appender>

	<logger name="com.seedboxer" level="DEBUG" />
	<logger name="net.schmizz.sshj" level="OFF" />
	<logger name="org.apache.camel.processor.DefaultErrorHandler" level="OFF" />

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
