<div ng-controller="ContentsCtrl">

	<h2>Contents</h2>

	<div class="span6 offset6">
		<form class="navbar-search pull-right">
			<input ng-model="query" type="text" class="search-query" placeholder="Search">
		</form>
	</div>
	
	<br/>
	<br/>

	<table id="contentTable" class="table table-bordered">
		<thead>
			<tr>
			    <th style="width:35px">Type</th>
				<th style="width:90%">Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="content in contents | filter:query | orderBy:'type':!reverse">
			    <td><img ng-src="img/{{content.type}}.png" width="25" heigth="25"></td>
				<td>{{content.name}} </td>
				<td><a class="btn btn-warning btn-small" ng-click="deleteContent(content)"><i
						class="icon-trash icon-white"></i></a></td>
			</tr>
		</tbody>
	</table>
	
	<a class="btn right" ng-click="addContent()"><i class="icon-plus icon-green"/></a>
	<input id=select2 type="hidden" style="width:450px">


</div>
