<div ng-controller="ContentsCtrl">

	<h2>Contents</h2>

	<div class="span6 offset6">
		<form class="navbar-search pull-right">
			<input ng-model="query" type="text" class="search-query" placeholder="Search">
		</form>
	</div>
	
	<br/>
	<br/>

	<table class="table table-bordered">
		<thead>
			<tr>
			    <th style="width:35px">Type</th>
				<th>Name</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="content in contents | filter:query">
			    <td><img ng-src="img/{{content.type}}.png" class="icon-white"></td>
				<td>{{content.name}}</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-primary" ng-click="addNewContent()"><i class="icon-cog icon-white"></i> Add</a>



</div>
