<div ng-controller="DownloadsCtrl">

	<h2>Contents</h2>

	<div class="span6 offset6">
		<form class="navbar-search pull-right">
			<input ng-model="query" type="text" class="search-query" placeholder="Search">
		</form>
	</div>
	
	<br/>
	<br/>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th style="width:90%">Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="download in downloads | filter:query | orderBy:'lastModified':reverse=true" >
				<td>{{download.name}}</td>
				<td><a class="btn btn-success btn-small" ng-click="putToDownload(download)"><i
						class="icon-circle-arrow-down"></i></a></td>
			</tr>
		</tbody>
	</table>



</div>
