<div ng-controller="StatusCtrl">
    <h2>Downloading</h2>

    <h5>{{current.download.fileName}}</h5>
    <div class="progress progress-striped active">
	<div class="bar" style="width: {{current.download.transferred * 100 / current.download.size}}%;"></div>
    </div>
    <div>
	    {{current.download.transferred}} of {{current.download.size}} Mb 
    </div>
    <div>
	    Status: {{current.downloadStatus}} 
    </div>
</div>

<h3>Queue</h3>

<table class="table table-hover" ng-controller="QueueCtrl">
    <thead>
    <tr>
	<th>#</th>
	<th>Name</th>
	<th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="download in queue">
	<td>{{download.order}}</td>
	<td>{{download.title}}</td>
	<td><a class="btn btn-small" href="#"><i class="icon-trash"></i></a></td>
    </tr>
    </tbody>
</table>
