<div ng-controller="StatusCtrl">
	<div>
		<h2>Downloading</h2>

		<h5>{{current.download.fileName}}</h5>
		<div class="progress progress-striped active">
			<div class="bar"
				style="width: {{current.download.transferred * 100 / current.download.size}}%;"></div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div>{{current.download.transferred}} of {{current.download.size}} Mb</div>
				<div>Status: {{current.downloadStatus}}</div>
			</div>
			<div class="span6" align="right">
				<a class="btn btn-success" ng-click="play()"><i class="icon-play icon-white"></i> Play</a>
				<a class="btn btn-danger" ng-click="stop()"><i class="icon-stop icon-white"></i> Stop</a>
			</div>
		</div>
		
	</div>

	<h3>Queue</h3>

	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th style="width:90%">Name</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="download in queue">
				<td>{{download.order}}</td>
				<td>{{download.name}}</td>
				<td><a class="btn btn-warning btn-small" ng-click="deleteFromQueue(download)"><i
						class="icon-trash icon-white"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>
