<div ng-controller="ProfileCtrl">

    <h2>{{username}}</h2>

    <h3>Configurations</h3>


    <tabs>
        <pane ng-repeat="(key,value) in profileParams" heading="{{key}}">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr ng-repeat="option in value" ng-show="isVisible(option)">
                        <td style="width: 20%">{{option.title}}</td>
                        <td>
                            <a xeditable type="{{option.type}}" value="option.value" source="option.sources" close="theclose(option)"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </pane>
    </tabs>
</div>
