Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Depends: mysql-server, dbconfig-common
Maintainer: Jorge Davison <jdavisonc@gmail.com>