@CHARSET "UTF-8";

.brand {
	font-family: 'Telex', sans-serif;
}

.navbar .brand {
	padding: 10px 20px 5px;
} 

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.fade {
  -webkit-transition: opacity 0.6s linear !important;
     -moz-transition: opacity 0.6s linear !important;
      -ms-transition: opacity 0.6s linear !important;
       -o-transition: opacity 0.6s linear !important;
          transition: opacity 0.6s linear !important;
   display: block;
   width: 323px;
   height: 100%;
   margin: 0 auto;
}


.alert {
    padding : 3px 25px 3px 7px !important;
    font-size : 12px;
    font-weight: bold;
}

div.alert div {
    text-align:	center;
}

.add-content-dialog {
    width : 450px
}

.add-config-dialog {
    width : auto;
    left : 57%;
	
}

.movie-result td {vertical-align: top }
.movie-image { width: 60px; }
.movie-image img { height: 80px; width: 60px;  }
.movie-info { padding-left: 10px; vertical-align: top; }
.movie-title { font-size: 1.2em; padding-bottom: 15px; }
.movie-synopsis { font-size: .8em; color: #888; }
.select2-highlighted .movie-synopsis { font-size: .8em; color: #eee; }
.bigdrop.select2-container .select2-results {max-height: 300px;}
.bigdrop .select2-results {max-height: 300px;}